@tailwind base;
@tailwind components;
@tailwind utilities;

.szh-menu {
  background-color: #1d1e26 !important;
  color: #fff !important;
}

.szh-menu__item:hover {
  background-color: #1d1e26 !important;
  color: #9069fe !important;
}
